.header {
    height: 95vh;
    background-image:linear-gradient(
        to right ,
        $color-primary-light, $color-primary-dark),
        url("../img/las_vegas_casino.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh , 0 100%);
    @include respond(phone){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh , 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh , 0 100%);
    }
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem;
        animation: moveInleft 0.5s;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
